<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Agricultures du Monde | {% block title %}{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets output="css/compiled/base.css" filter="cssrewrite"
        'bundles/app/css/bootstrap.min.css'
        'bundles/app/font-awesome/css/font-awesome.css'
        'bundles/app/css/inspinia.css'
        'bundles/app/css/animate.css'
        'bundles/app/css/plugins/toastr/toastr.min.css'
        'bundles/app/css/agroscopic.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    {% block extraheadcontent %}
    {% endblock %}

</head>

<body class={% block bodyclass %}"skin-3"{% endblock %}>
{# Options du bodyclass :
        "no-skin-config"
        "skin-1"
        "skin-2"
        "skin-3"
        "mini-navbar"
        "fixed-sidebar" : dans ce cas ne pas oublier d'ajouter le script slimScroll qui se trouve dans js/inspinia.js file et décommenter le Fixed Sidebar comment and uncomment function et ajouter <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
        "fixed-nav" : dans ce cas mettre navbar-fixed-top si body class = fixed-nav dans <nav>
        En mettant mini-navbar ET fixed-sidebar ET fixed-nav, on ne voit plus du tout la barre de navigation de gauche et la barre du haut devient fixe (pour Rapports de stage peut-être)
        "canvas-menu"pour le OffCanvasLayout
        "full-height-layout" pour le Outlook
        #}
<div id="wrapper">
    <nav class="navbar-default  navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            {% block closeNavbar %}
            {% endblock %}
            {# Ajouter <a class="close-canvas-menu"><i class="fa fa-times"></i></a> si bodyclass=canvas-menu #}
            <ul class="nav" id="side-top-menu">
                {# Cet include correspond au carré avec le profil de l'utilisateur #}
                {% include 'AppBundle:Commons:nav-header.html.twig' %}
            </ul>
            <ul class="nav" id="side-menu">

                <li>
                    <a href="{{ path('homepage') }}"><i class="fa fa-home"></i> <span class="nav-label">ACCUEIL</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">EXPLORER</span> <span
                                class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href={# path('app_reports_listAll') #}>Etudes</a></li>
                        <li><a href={# path('app_maps_listAll') #}>Carte mondiale</a></li>

                    </ul>

                </li>
                {% block menus %}

                {% endblock %}


                {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <hr class="nav-label" style="width: 80%;margin-left: auto;margin-right: auto; margin-top:5px;margin-bottom:15px;color:white;opacity: 0.3">
                    <li id="connexion" class="nav-label" style="height: 70%; border-radius: 3px;">
                        <a href="{{ path('fos_user_security_login') }}" style="padding-top: 7px;padding-bottom: 7px; padding-left: 10px;padding-right:10px; "><span class="nav-label" style="color:white;">Connexion</span></a>
                    </li>
                {% else %}
                    <hr style="width: 80%;margin-left: auto;margin-right: auto; margin-top:5px;margin-bottom:15px;color:white;opacity: 0.3">
                    <li style="padding: 10px;line-height:1em;">

                        <img alt="image"
                             style="-webkit-border-radius: 50em;-moz-border-radius: 50em;border-radius: 50em; height: 2.5em;width:2.5em; margin-left:5px;margin-top: -5px;"
                             src="http://webapplayers.com/inspinia_admin-v2.0/img/profile_small.jpg"/>
        <span class="nav-label" style="color:white;margin-left: 10px;font-weight: 600;"> {{ app.user.username | capitalize }}
            <a href="{{ path('fos_user_profile_show') }}">
                <i class="fa fa-cog fa-lg menu-icon" style="position:absolute;right:10px;color:#948B96;top:15px;"></i>
            </a>
        </span>

                    </li>
                {% endif %}

                <div class="nav-label" style="padding-top:20px;font-size:0.8em;padding-left:15px;padding-right:15px;text-align: center;color:lightgrey;">
                    <a style="color:white;opacity: 0.4;margin:5px;" href="http://agriculturefamiliale.com/lassociation/">A propos</a><br/>
                    <a style="color:white;opacity: 0.4;margin:5px;" href="{{path('confidentiality_policy')}}">Politique de confidentialité</a>
                </div>
                <div class="nav-label" style="padding-top:20px;font-size:1.5em;padding-left:15px;padding-right:15px;text-align: center;color:lightgrey;">

                    <a style="color:white;opacity: 0.4;margin:5px;" href="https://www.facebook.com/pages/Agro-et-Sac-à-Dos/708939189225506"><i class="fa fa-facebook-official"></i></a>
                    <a style="color:white;opacity: 0.4;margin:5px;" href="https://github.com/Agroscopic/agricultures-du-monde"><i class="fa fa-github"></i></a>

                </div>


            </ul>
        </div>
    </nav>
    <div id="page-wrapper" class={% block pagewrapperclass %}"gray-bg"{% endblock %}>
        {# Options du pagewrapperclass :
        "gray-bg"
        "gray-bg dashboard-1" mais ça a pas l'air de servir grand chose
        "gray-bg sidebar-content" ajoute une jolie barre sur la droite  (peut-être pour mettre le sommaire des rapports). Par contre pas toujours terrible pour les téléphones car elle est prioritaireIl faut créer un <div class="sidebard-panel">. Voir exemple
        #}
        <div class="row border-bottom">
            <nav class={% block navbarclass %}"navbar navbar-static-top"{% endblock %} {# navbar navbar-static-top ou navbar navbar-fixed-top si body class = fixed-nav  #} role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                </div>
                {% block topnav %}
                    {# Cet include correspond aux menus du haut #}
                    {% include 'AppBundle:Commons:nav-top.html.twig' %}
                {% endblock %}
            </nav>
        </div>
        {# On met soit le block dashboardheader ou pageheading mais pas les deux, on peut aussi les enlever tous les deux. Je mets du contenu pour l'exemple #}
        {% block dashboardheader %}
            <div id="dashboard-header" class="row  border-bottom white-bg dashboard-header">
                <div class="col-sm-12">
                    Bienvenue !
                </div>
            </div>
        {% endblock %}
        {% block pageheading %}
            <div id="page-heading" class="row wrapper border-bottom white-bg page-heading" {% block pageheadingstyle %}{% endblock %}>
                <div class="col-lg-10">
                    {% block breadcrumb %}
                        <h2>Diagnostic Agraire</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="#">Accueil</a>
                            </li>
                            <li>
                                <a href="#">Rapports</a>
                            </li>
                            <li class="active">
                                <strong>Diagnostic Agraire</strong>
                            </li>
                        </ol>
                    {% endblock %}
                </div>
                <div class="col-lg-2">
                </div>
            </div>
        {% endblock %}
        {# Début Page Content #}
        <div class="row">
            <div class={% block wrappercontentclass %}"wrapper wrapper-content"{% endblock %}>
                {# Options du pagewrapperclass :
                   "wrapper wrapper-content"
                   "wrapper wrapper-content animated fadeInRight" pour faire apparaître le contenu de façon un peu dynamique (voir animate.css pour toutes les options)
                   "wrapper wrapper-content animated fadeInRight article"
                   "fh-breadcrumb"
                   #}
                {% block pagecontent %}
                {% endblock %}
            </div>
        </div>
        {# Fin Page Content #}


    </div> {# end page wrapper #}

    {% block plugins %}
        {# Fenêtre de Chat
        {% include 'ADMCoreBundle:Plugins:chatbox.html.twig' %} #}
        {# Fenêtre d'options à droite
        {% include 'ADMCoreBundle:Plugins:right-sidebar.html.twig' %} #}
    {% endblock %}
</div> {# end full wrapper #}

{% block javascripts %}
    {% javascripts
    '@AppBundle/Resources/public/js/jquery-2.1.1.js'
    '@AppBundle/Resources/public/js/bootstrap.min.js'
    '@AppBundle/Resources/public/js/plugins/metisMenu/jquery.metisMenu.js'
    '@AppBundle/Resources/public/js/plugins/pace/pace.min.js'
    '@AppBundle/Resources/public/js/inspinia.js'
    '@AppBundle/Resources/public/js/plugins/toastr/toastr.min.js'
    '@AppBundle/Resources/public/js/plugins/slimscroll/jquery.slimscroll.min.js'
    '@AppBundle/Resources/public/js/plugins/jquery-ui/jquery-ui.min.js'
    output='assets/js/compiled/base.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block extrascripts %}
    <script type="text/javascript">
        $('body.canvas-menu .sidebar-collapse').slimScroll({
            height: '100%',
            railOpacity: 0.9
        });
    </script>
{% endblock %}
</body>
</html>
