<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Atlas des Agricultures du Monde | Créer un compte</title>

    {% block stylesheets %}
        {% stylesheets output="assets/css/compiled/register.css" filter="cssrewrite"
        'bundles/app/css/bootstrap.min.css'
        'bundles/app/font-awesome/css/font-awesome.css'
        'bundles/app/css/inspinia.css'
        'bundles/app/css/animate.css'
        'bundles/app/css/agroscopic.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>

<body class="gray-bg">
<div class="loginColumns animated fadeInDown">
    <div class="row">

        <div class="col-md-6">
            <h2 class="font-bold">Atlas des Agricultures du Monde</h2>

            <p>
                Créez vous un compte et connectez vous dès maintenant afin de suivre les avancées du projet.
            </p>

        </div>
        <div class="col-md-6">
            <div class="ibox-content">
                <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" id="_submit" name="_submit" class="btn btn-primary block full-width m-b"
                               value="Créer le compte"/>

                    </div>
                </form>

            </div>
        </div>
    </div>
    <hr/>

</div>

{% block javascripts %}
    {% javascripts
    '@AppBundle/Resources/public/js/jquery-2.1.1.js'
    '@AppBundle/Resources/public/js/bootstrap.min.js'
    '@AppBundle/Resources/public/js/inspinia.js'
    '@AppBundle/Resources/public/js/plugins/jquery-ui/jquery-ui.min.js'
    output='assets/js/compiled/register.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>

